<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69817314886-pmua4ug4krn0lj0a2osok7ur1lmdhli5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69817314886-pmua4ug4krn0lj0a2osok7ur1lmdhli5</string>
	<key>API_KEY</key>
	<string>AIzaSyB-VD6QkQj9sWlAm7UndSXkJMcq-LrOL4M</string>
	<key>GCM_SENDER_ID</key>
	<string>69817314886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventApp</string>
	<key>PROJECT_ID</key>
	<string>ems-app-74857</string>
	<key>STORAGE_BUCKET</key>
	<string>ems-app-74857.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69817314886:ios:3bfd3c33f0b790d7426447</string>
</dict>
</plist>